.button {
    padding: 21px 35px 21px 35px;
    background: #4077F3;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 500;
    color: #E4E5EA;
    transition: background 0.5s ease;
    &:hover {
        background: $main-color;
    }
}